body {
  font-family: 'Georgia', serif;
  background-image: none;
  color: #111;
  background-color: rgb(247, 242, 230);
  font-size: 28px;
}

.btn-warning {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  background-color: rgb(253, 75, 28);
  border: none;
  text-transform: uppercase;
  border-radius: 17px;
}
.btn-warning:hover {
  background-color: rgb(200, 65, 17);
}


.content a,
.credits a {
  text-decoration: none;
  color: rgb(253, 75, 28);
  border-bottom: 1px dotted rgb(253, 75, 28);
}
.content a:hover,
.credits a:hover {
  text-decoration: none;
  color: rgb(200, 65, 17);
  border-bottom: 1px solid rgb(200, 65, 17);
}

h1.headline {
  font-size: 52px;
}

h2 {
  font-size: 42px;
}

hr {
  border-color: #bbb;
}

.nav-buttons .nav-button {
  color: rgb(200, 195, 188);
  opacity: 0.5;
}
.slide-chapter-prologue h1.headline,
.slide-titlecard h1.headline, 
.slide-chapter-title h1.headline {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(253, 75, 28);
}

.slide-chapter-title h1.headline {
  font-size: 70px;
}

.slide-chapter-prologue h1.headline {
  font-size: 40px;
}

.slide-example-list h1.headline {
  font-size: 36px;
}

.slide ul li {
  text-align: left;
}

.slide ul {
  max-width: 800px;
  margin: 0 auto;
}
.slide.photo-overlay {
  background-color: #222;
}
.slide.photo-overlay .content {
  color: #fff;
  text-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.slide.photo-overlay .img-container {
  opacity: 0.8;
}
.slide.photo-overlay hr {
  border-color: #fff;
}

.credits {
  position: absolute;
  color: #333;
  background-color: rgb(247, 242, 230);
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 6px 10px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 15px;
  font-weight: 700;
}
